.about_me {

    width: 100vw;
}
.about_me > .abata {
    width: 30%;
    height: 100%;
}
.about_me > .abata > ul > img {
    width: 400px;
    height: 500px;
    padding: 0 40px;
}
.about_me > .abata > ul > .name {
    
}
.about_me > .abata > ul > li {
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}
/* 라인 */
.line {
    background-color: black;
    height: 2px;
    width: 300px;
}
/* 프로필 */
.profile-1 {
    width: 30vw;
}
.profile-1 > ul {
    padding: 15px;
    text-align: center;
}
.profile-2 {
    width: 30vw;
}
.profile-2 > ul {
    padding: 15px;
    text-align: center;
}
/* 학력 */
.profile-1 > .edu > .title {
    font-size: 2rem;
} 
.profile-1 > .edu > li {
    padding: 10px;
    font-size: 1.5rem;
}
/* 자격증 */
.profile-1 > .cer > .title {
    font-size: 2rem;
}
.profile-1 > .cer > li {
    padding: 10px;
    font-size: 1.5rem;
}
/* 스킬 */
.skills > .title {
    font-size: 2rem;
    margin-bottom: 20px;
}
.skills > li > img {
    width: 300px;
    margin-left: -20px;
}
/* 수상 */
.profile-2 > .award > .title {
    font-size: 2rem;
}
.profile-2 > .award > li {
    padding: 10px;
    font-size: 1.5rem;
}
.profile-2 > .actives > .title {
    font-size: 2rem;
}
.profile-2 > .actives > li {
    padding: 10px;
    font-size: 1.5rem;
}

