
.communication > .article {
   margin-left: -15%;
    width: 100vw;
}
.communication > .article > .sns {
    margin-left: 5%;
}
.communication > .article > .sns > a:last-child > img{
    margin-bottom: 22px;
    margin-left: 15px;
}
.communication > .article > .sns > h1 {
    margin-left: 50px;
}