.slider-1 {
    width:1000px;
}

.slider-1 > .owl-carousel {
    position: relative;
    height: 100%;
}

.slider-1 > .owl-carousel.owl-theme > .owl-nav {
    text-align:center;
}

.slider-1 > .owl-carousel.owl-theme > .owl-nav > button > span {
    font-size:4rem;
    padding: 30px;
}

.slider-1 > .owl-carousel.owl-theme > .owl-nav > button {
    outline:none;
}
.page-1 > .slider-1 > .owl-carousel > .owl-item > img {
    padding:30px;
}
