@import url(//fonts.googleapis.com/css2?family=Indie+Flower&display=swap);

html {
    font-family: 'Indie Flower', cursive;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.height-100p {
    height: 100%;
}

.height-50p {
    height: 50%;
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: .8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row>.cell {
    float: none;
    display: table-cell;
}

.border-red {
    border: 3px solid red;
}

.border-black {
    border: 3px solid black;
}

/* 라이브러리 - flex */
*>.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

*>.flex-column-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

*>.flex-grow-1 {
    flex-grow: 1;
}

*>.flex-jc-end {
    display: flex;
    justify-content: flex-end;
}

*>.flex-jc-c {
    display: flex;
    justify-content: center;
}

*>.flex-ai-c {
    display: flex;
    align-items: center;
}

.flex-ai-sb {
    display: flex;
    align-items: space-between;
}

*>.flex-jc-sb {
    display: flex;
    justify-content: space-between;
}

*>.flex-jc-sa {
    display: flex;
    justify-content: space-around;
}

*>.flex-ai-start {
    display: flex;
    align-items: flex-start;
}

*>.flex-ai-end {
    display: flex;
    align-items: flex-end;
}

*>.flex-as-c {
    align-self: center;
}

*>.flex-row-nowrap {
    flex-direction: row;
    flex-wrap: nowrap;
}

*>.flex-ch-basis-0 {
    display: flex;
}

.flex-ch-basis-0>* {
    flex-basis: 0;
}

*>.flex-1-0-0 {
    flex: 1 0 0;
}


/* 라이브러리 */
.con {
    margin-left: auto;
    margin-right: auto;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.img-box>img {
    width: 100%;
    display: block;
}

/* 커스텀 */
body {
    width: 100%;
    height: 2530px;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.box>.port {
    font-size: 3.5rem;
    font-weight: bold;
    position: absolute;
    top: 100px;
    left: 100px;
}

.box>.box-type {
    width: 100%;
    height: 100%;
}

.box>ul>li>div {
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}

/* 액자 */
.box>ul>li>div>.cup {
    display: block;
    width: 300px;
    height: 350px;
    margin: 200px 200px;
    position: relative;
    box-shadow: 1px 8px 5px black;
}

.box>ul>li>div>.ver1 {
    display: block;
    width: 300px;
    height: 380px;
    margin: 100px;
    position: relative;
    box-shadow: 1px 10px 4px black;
}

.box>ul>li>div>.ver2 {
    display: block;
    width: 300px;
    height: 380px;
    margin: 250px 450px;
    position: relative;
    box-shadow: 1px 9px 4px black;

}

.box>ul>li>div>.app {
    display: block;
    width: 300px;
    height: 530px;
    margin: 300px 140px;
    position: relative;
    box-shadow: 1px 8px 4px black;

}

.box>ul>li>div>.paul {
    display: block;
    width: 300px;
    height: 600px;
    margin: 400px 300px;
    position: relative;
    box-shadow: 1px 8px 3px black;

}

.box>ul>li>div>.pp {
    display: block;
    width: 300px;
    height: 530px;
    margin: 180px 650px;
    position: relative;
    box-shadow: 1px 8px 5px black;

}

.box>ul>li>div>.dp {
    display: block;
    width: 300px;
    height: 530px;
    margin: 0 300px;
    position: relative;
    box-shadow: 1px 7px 5px black;
}

/* 이미지 */
.box>ul>li>div>a>img {
    width: 300px;
}
.box>ul>li>div>.cofee>img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}

.box>ul>li>div>.ver1>img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}

.box>ul>li>div>.ver2>img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}

.box>ul>li>div>.app>img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.box>ul>li>div>.paul>img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);

}

.box>ul>li>div>.pp>img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}

.box>ul>li>div>.dp>img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}   
/* 포폴 제목 */
.box>ul>li>div>.cup>h4 {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2rem;
}

.box>ul>li>div>.ver1>h4 {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2rem;
}

.box>ul>li>div>.ver2>h4 {
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2rem;
}

.box>ul>li>div>.app>h4 {
    position: absolute;
    bottom: -1%;
    left: 55%;
    transform: translateX(-50%);
    letter-spacing: 20px;
    text-align: center;
    font-size: 1.3rem;
}

.box>ul>li>div>.paul>h4 {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    letter-spacing: 10px;
    font-size: 2rem;

}

.box>ul>li>div>.pp>h4 {
    position: absolute;
    bottom: 0%;
    left:52%;
    transform: translateX(-50%);
    letter-spacing: 10px;
    font-size: 1.3rem;
    text-align: center;
}

.box>ul>li>div>.dp>h4 {
    position: absolute;
    right: 8%;
    bottom: 0%;
    transform: translateX(-50%);
    font-size: 1.3rem;
}

/* 데코레이션 */
.box>.popup1>.box>img {
    width: 300px;
    margin-left: -10px;
}

.box>.button>img {
    position: absolute;
    top: 40%;
    left: 1%;
}

.box>.flower>img {
    position: absolute;
    bottom: 25%;
    right: 9%;
}

/* 스위치 */
.img-box>img {
    width: 100%;
    display: block;
    padding-right: 4px;
}

.btn-toggle {
    width: 100px;
    cursor: pointer;
}

.btn-toggle img {
    width: 170px;
    position: absolute;
    top: 60%;
    left: 5%;
    user-select: none;
}

.btn-toggle>.ment>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.btn-toggle>img:first-child {
    padding-top: 1px;
}

.btn-toggle>img:last-child {
    transform: rotate(180deg);
    display: none;
}

.popup1-actived .btn-toggle>img:last-child {
    display: block;
}

.popup1-actived .btn-toggle>img:first-child {
    display: none;
}

.popup1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup1-actived .popup1 {
    visibility: visible;
    opacity: 1;
}

.popup1>.box {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    transform: translateY(-100vh);
    .3s;
    transition: transform .3s 0s;
}

.popup1-actived .popup1>.box {
    transform: translateY(0);
    transition: transform .3s .4s;
}
/* 테이프 */
.tape-1 > img {
    position: absolute;
    top: 7%;
    left: 16%;
    width: 110px;
    height: 40px;
    z-index: 30;
    transform: rotate(90deg);
    opacity: 80%;
}
.tape-2 > img {
    position: absolute;
    top: 3%;
    right: 34%;
    width: 110px;
    height: 40px;
    z-index: 30;
    transform: rotate(91deg);
    opacity: 80%;
}
.tape-3 > img {
    position: absolute;
    top: 25%;
    left: 29%;
    width: 110px;
    height: 40px;
    z-index: 30;
    transform: rotate(90deg);
    opacity: 80%;
}
.tape-4 > img {
    position: absolute;
    top: 26.5%;
    right: 31%;
    width: 110px;
    height: 40px;
    z-index: 30;
    transform: rotate(10deg);
    opacity: 80%;
}
.tape-5 > img {
    position: absolute;
    top: 46%;
    left: 21%;
    width: 110px;
    height: 40px;
    z-index: 30;
    transform: rotate(93deg);
    opacity: 80%;
}
.tape-6 > img {
    position: absolute;
    bottom: 29%;
    left: 39%;
    width: 110px;
    height: 40px;
    z-index: 30;
    transform: rotate(93deg);
    opacity: 80%;
}
.tape-7 > img {
    position: absolute;
    bottom: 36%;
    right: 24%;
    width: 110px;
    height: 45px;
    z-index: 30;
    transform: rotate(90deg);
    opacity: 80%;
}
/* 배경 데코 */
.phone > img {
    position: absolute;
    bottom:20%;
    left: 40%;
}
.note > img {
    position: absolute;
    top:0;
    left: 25%;
}
.camera > img {
    position: absolute;
    top:50%;
    right:40%;
}
.pen > img {
    position: absolute;
    bottom:5%;
    right: 20%;
    transform: rotate(50deg);
}
.mac > img {
    position: absolute;
    top:30%;
    right: 0;
}
.cloth > img {
    position: absolute;
    bottom:0;
    left: 0;
}
.coffee > img {
    position: absolute;
    top:25%;
    left: 10%;
}
.pad > img {
    position: absolute;
    top: 0;
    right: 0;
}