.side-bar {
    background-color: rgb(13, 53, 13);
}

body {
    padding-left: 300px;
}

/* about */
.about {
    width: 100%;
    height:100%;
}
.about > img {
    width: 100vw;
    height: 60vh;
}
/* member */
.member > li{
    display: inline-block;
    width: 33%;
}
