/* 커스텀 */
/* 배경 - 유성효과*/
.meteor-field {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.desert {
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.meteor {
    position: absolute;
    top: 20%;
    left: 80%;
    width: 150px;
    height: 3px;
    pointer-events: none;
    opacity: 0;
}

.meteor.active {
    animation: star 1s forwards;
}

@keyframes star {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: .2;
    }
}

.meteor.active>div {
    transform: translate3d(0px, 0px, 0px);
}

.meteor>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.meteor>div>div {
    height: 1px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #fff, #afafaf);
}

.meteor>div>div:nth-child(1) {
    top: 0;
}

.meteor>div>div:nth-child(2) {
    top: 1px;
}

.meteor>div>div:nth-child(3) {
    top: 2px;
}

.meteor>div>div:not(:nth-child(2)) {
    left: 1px;
    right: 3px;
    background-image: linear-gradient(to right, #fff, #454545);
}

.meteor-1 {
    transform: rotate(-45deg);
}

.meteor-2 {
    top: calc(30% - 300px);
    left: calc(30% + 100px);
    transform: rotate(-42deg);
    width: 100px;
}

.meteor-4 {
    top: calc(20% - 300px);
    left: calc(30% + 100px);
    transform: rotate(-43deg);
    width: 90px;
}

.meteor-5 {
    top: calc(25% - 300px);
    left: calc(70% + 100px);
    transform: rotate(-45deg);
    width: 80px;
}

.meteor-6 {
    top: calc(30% - 300px);
    left: calc(60% + 100px);
    transform: rotate(-44deg);
    width: 100px;

}

.meteor-7 {
    top: calc(10% - 300px);
    left: calc(100% + 100px);
    transform: rotate(-46deg);
    width: 90px;
}


.meteor-2>div {
    opacity: 0.7;
}

/* 배경 - 라인 */
#fullpage {
    position: relative;
}

#fullpage>.line {
    height: 100vh;
    width: 0.6px;
    background-color: white;
    position: absolute;
    left: 10%;
    top: 0;
    z-index: 100;
    opacity: 0.4;
}

#fullpage>.line-1 {
    height: 100vh;
    width: 0.6px;
    background-color: white;
    position: absolute;
    right: 10%;
    top: 0;
    z-index: 100;
    opacity: 0.4;
}

/* 배경 텍스트 */
.page1>.top-text li {
    color: white;
    position: absolute;
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: 13px;
    z-index: 100;
}

.top-text>.text-1 {
    top: 5%;
    left: 15%;
}

.top-text>.line {
    top: 5%;
    left: 28%;
}

.top-text>.text-3 {
    top: 5%;
    right: 33%;
}

.top-text>.text-4 {
    top: 5%;
    right: 15%;
}

#fullpage>.left-text>li {
    writing-mode: vertical-rl;
    position: absolute;
    top: 150px;
    left: 50px;
    color: white;
    z-index: 100;
}

#fullpage>.left-text>.text1 {
    font-size: 1.7rem;
    font-weight: bold;
}

#fullpage>.left-text>.text2 {
    font-size: .7rem;
    top: 370px;
    left: 53px;
    color: white;
}

#fullpage>.right-text>li {
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    bottom: 100px;
    right: 50px;
    z-index: 100;
}

#fullpage>.right-text>.text1 {
    font-size: 2rem;
    font-weight: bold;
}

#fullpage>.right-text>.text2 {
    bottom: 260px;
    right: 10px;
}

#fullpage>.right-text>.text3 {
    bottom: 480px;
    right: -10px;
}

/* 2페이지 */

body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex {
    display: flex;
}


.tab-box-1>.head>ul>li.active {
    color: red;
}

.tab-box-1>.body>ul>li {
    display: none;
}

.tab-box-1>.body>ul>li.active {
    display: block;
}

/* page2 */
.page2 {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* page2 - about */
.page2 .bed>.flame {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 22%;
    left: 32%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: -6px 6px 6px 0.3px rgba(129, 129, 129, 0.4);
}

.page2 .bed>.blanket {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 10%;
    left: 37%;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: -6px 6px 6px .3px rgba(129, 129, 129, 0.4);
}

/* 침대 - 내용 */
.blanket {
    width: 100%;
    height: 100%;
}

.blanket>.content {
    width: 100%;
    height: 100%;
}

.pro>img {
    height: 130%;
    margin-left: 5%;
}

.blanket>.content>.file>.me {
    margin-top: 10%;
    width: 100%;
    height: 100%;
    position: relative;
}

.blanket>.content>.file {
    width: 100%;
    height: 100%;
}

.file>ul>li {
    padding: 10px;
}

.birth>ul>li:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.birth>ul>li:nth-child(2) {
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
}

.edu>ul>li:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

.edu>ul>li:not(:first-child) {
    font-size: 1rem;
    padding: 5px;
    font-weight: bold;
}

.skills {
    width: 100%;
}

.skills>ul {
    width: 100%;
    height: 100%;
}

.skills>.title {
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
}

.skills>ul>li {
    box-sizing: border-box;
    padding: 10px;
    width: calc(100%/3);
}

/* page2 - me */
nav ul {
    padding: 10px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
}
.content {
    margin-left: 20px;
}
.content-1>li:first-child {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.content-1>li {
    padding: 10px;
    font-size: 1.1rem;
}

.content-2>li {
    padding: 10px;
    font-size: 1.1rem;
}

/* 2페이지 - 탭박스 */
.page2>.tab-box-1 {
    margin-left: 16%;
    margin-top: 21%;
}

.tab-box-1>.head>ul>li>a>img {
    width: 70%;
    box-shadow: -6px 6px 6px 0.3px rgba(129, 129, 129, 0.4);
    cursor: pointer;
}

.tab-box-1>.head>ul>li>.me>img {
    margin-top: 35%;
}

.custom {
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.custom:active {
    transform: translateY(4px);
}

/* 3페이지 */
.page3 {
    height: 100%;
    width: 100%;
}

.main {
    padding-left: 15%;
    padding-right: 15%;
    height: 100%;
    padding-top: 6%;
}

.slider-for {
    width: 100%;
    height: 60vh;
}

.slider-nav {
    margin-top: 5%;
}

.slider-for {
    position: relative;
}

.text-box {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
}

.title h1 {
    font-size: 2.5rem;
    margin-top: 0%;
}

.info-3>li>img {
    width: 50px;
}

.slider-in .name {
    margin-top: 15%;
}
.name > li {
    font-weight: bold;
}
.name-info>div:first-child {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 5%;
}

.name-info {
    margin-top: 10%;
}

.intro {
    margin-top: -10px;
}

.name-info>div>ul>li {
    padding: 5px;
}

.name-info>div>ul>li:first-child {
    font-weight: bold;
}

.name-info>div>ul>.di {
    font-weight: bold;
}

.name-info>.intro>.info-3>li {
    padding-right: 25px;
}

.slider .slick-prev {
    display: none;
    opacity: 0;
    user-select: none;
}

.slider-nav .slick-next {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: black;
    display: block;
    width: 100px;
    height: 5px;
}

.sum-slider {
    position: relative;
}

.aro1_next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.aro1_next:active > img {
    transform: translateY(2px);
}
/* 4페이지 */
a {
    text-decoration: none;
    color: inherit;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.cell {
    float: left;
}

.row::after {
    clear: both;
    display: block;
    content: "";
}

.list-box {
    width: 80vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.item-list,
.item-select {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.list-box>.item-list>div>img {
    width: 180%;
}

.item-1 {
    top: 20%;
    left: 50%;
}

.item-2 {
    top: 40%;
    left: 70%;
}

.item-3 {
    top: 15%;
    left: 40%;
}

.item-4 {
    top: 10%;
    left: 70%;
}

.item-5 {
    top: 80%;
    left: 70%;
}

.item-6 {
    top: 10%;
    left: 0%;
}

.item-7 {
    top: 40%;
    left: 15%;
}

.item-8 {
    top: 70%;
    left: 10%;
}

.item-list>div {
    width: 80px;
    height: 80px;
    cursor: pointer;
    opacity: .3;
    transition: top .3s, left .3s, opacity .3s;
}

.item-list>div.active {
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

.item-select>div {
    opacity: 0;
}

.item-select>div.active {
    opacity: 1;
}

.item-select>div {
    top: 15%;
    left: 5%;
}

.item-select>div>div {
    padding-bottom: 50px;
}

.item-select>div>.title{
    font-size: 2.8rem;
    font-weight: bold;
}

.item-select>div>.sub-title>li {
    padding-top: 30px;
    font-size: 1.3rem;
}

.item-select>div>ul>.sub-1,
.sub-3 {
    font-weight: bold;
    font-size: 2rem;
}

.item-select>div>.tool {
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 20px;
}
.link-box>li {
    padding: 15px;
    margin-top: -50px;
    margin-left: 20px;
}
.link-box>li>img {
    width: 50px;
}

/* 5페이지 */
.page5 {
    position: relative;
    width: 100%;
    height: 100%;
}

.page5 .line5-3 {
    background-color: black;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 43%;
}

.page5 .line5-4 {
    background-color: black;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 43%;
}

.page5 .end {
    position: absolute;
    top: 25%;
    left: 20%;
}

.page5 .end>li:first-child {
    font-weight: bold;
    font-size: 2rem;
}

.page5 .end>li {
    padding: 5px;
}

.page5 .door>li {
    background-color: black;
    width: 20%;
    height: 1px;
    position: absolute;
}

.page5 .door>.top {
    top: 20%;
    left: 43%;
}

.page5 .door>.top::after {
    top: -20%;
    right: 0%;
    position: absolute;
    content: "dream";
    font-weight: bold;
}

.page5 .door>.mid {
    width: 60%;
    top: 50%;
    left: 20%;
    border-right: black;
}

.page5 .door>.mid::after {
    content: "EXIT";
    left: 33%;
    position: absolute;
    font-weight: bold;
}

.page5 .door>.bottom {
    bottom: 20%;
    right: 43%;
}

.page5 .door>.bottom::after {
    left: 0;
    content: "space";
    font-weight: bold;
}


/* 팝업 */

.btn-toggle {
    width: 100px;
    cursor: pointer;
}

.btn-toggle div {
    position: absolute;
    top: 55%;
    right: 20%;
    user-select: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.btn-toggle div:hover {
    text-decoration: underline;
}


.popup1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup1.active {
    visibility: visible;
    opacity: 1;
}

.popup1>.box {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    transition: transform .3s 0s;
}

.popup1-actived .popup1>.box {
    transform: translateY(0);
    transition: transform .3s .4s;
}

/* 마지막 페이지 */
.lastdoor {
    background-color: white;
    width: 14%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 43%;
    z-index: 50;
}

.lastdoor li {
    background-color: white;
    width: 20%;
    height: 1px;
    position: absolute;
}

.lastdoor .top {
    top: 20%;
    left: 43%;
}

.lastdoor .mid {
    width: 60%;
    top: 50%;
    left: 20%;
    border-right: white;
}


.lastdoor .bottom {
    bottom: 20%;
    right: 43%;
}

.popup1>.start {
    color: white;
    position: absolute;
    top: 25%;
    left: 20%;
}

.start>li:first-child {
    font-weight: bold;
    font-size: 2rem;
}

.start>li {
    padding: 5px;
}

.end-contact {
    position: absolute;
    top: 54%;
    right: 15%;
    user-select: none;
    color: white;
    font-weight: bold;
}

.end-contact>li {
    padding: 5px;
}

.end-contact>li:first-child {
    font-size: 2rem;
}
