
/* 커스텀 */
/* 배경 - 유성효과*/
.meteor-field {
    min-height:100vh;
    overflow:hidden;
    position:relative;
    margin:0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.desert {
    min-height:100vh;
    overflow:hidden;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.meteor {
    position:absolute;
    top:20%;
    left:80%;
    width:150px;
    height:3px;
    pointer-events:none;
    opacity: 0;
}

.meteor.active {
    animation: star 1s forwards;
}
@keyframes star {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: .2;
    }
}
.meteor.active > div{
    transform: translate3d(0px, 0px, 0px);
}

.meteor > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.meteor > div > div {
    height:1px;
    width:auto;
    position:absolute;
    top:0;
    left:0;
    right:0;
    background-image:linear-gradient(to right, #fff, #afafaf);
}

.meteor > div > div:nth-child(1) {
    top:0;
}

.meteor > div > div:nth-child(2) {
    top:1px;
}

.meteor > div > div:nth-child(3) {
    top:2px;
}

.meteor > div > div:not(:nth-child(2)) {
    left:1px;
    right:3px;
    background-image:linear-gradient(to right, #fff, #454545);
}

.meteor-1 {
    transform:rotate(-45deg);
}

.meteor-2 {
    top:calc(30% - 300px);
    left:calc(30% + 100px);
    transform:rotate(-42deg);
    width:100px;
}

.meteor-4 {
    top:calc(20% - 300px);
    left:calc(30% + 100px);
    transform:rotate(-43deg);
    width:90px;
}
.meteor-5 {
    top:calc(25% - 300px);
    left:calc(70% + 100px);
    transform:rotate(-45deg);
    width:80px;
}
.meteor-6 {
    top:calc(30% - 300px);
    left:calc(60% + 100px);
    transform:rotate(-44deg);
    width:100px;

}
.meteor-7 {
    top:calc(10% - 300px);
    left:calc(100% + 100px);
    transform:rotate(-46deg);
    width:90px;
}


.meteor-2 > div {
    opacity:0.7;
}
/* 배경 - 라인 */
#fullpage {
    position: relative;
}

#fullpage > .line {
    height: 100vh;
    width: 0.6px;
    background-color: white;
    position: absolute;
    left: 10%;
    top:0;
    z-index: 100;
    opacity: 0.4;
}
#fullpage > .line-1 {
    height: 100vh;
    width: 0.6px;
    background-color: white;
    position: absolute;
    right: 10%;
    top: 0;
    z-index: 100;
    opacity: 0.4;
}
/* 배경 텍스트 */
.top-text li {
    color:white;
    position: absolute;
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: 13px;
    z-index: 100;
}
.top-text > .text-1 {
    top:5%;
    left: 15%;
}
.top-text > .text-2 {
    top:5%;
    left: 28%;
}
.top-text > .text-3 {
    top:5%;
    right: 33%;
}
.top-text > .text-4 {
    top:5%;
    right: 15%;
}
#fullpage > .left-text > li {
    writing-mode: vertical-rl;
    position: absolute;
    top:20%;
    left: 3%;
    color: white;
    z-index: 100;
}
#fullpage > .left-text > .text1 {
    font-size: 1.5rem;
    font-weight: bold;
}
#fullpage > .left-text > .text2 {
    font-size: .7rem;
    top:38%;
    left: 3%;
    color: white;
}
#fullpage > .right-text > li {
    position: absolute;
    color: white;
    transform: rotate(-90deg); 
    bottom: 15%;
    right: 3%;
    z-index: 100;
}
#fullpage > .right-text > .text1 {
    font-size: 2rem;
    font-weight: bold;
}
#fullpage > .right-text > .text2 {
    bottom: 30%;
    right: 2%;
}
#fullpage > .right-text > .text3 {
    bottom: 50%;
    right: 0.4%;
}
/* 2페이지 */
.page2 {
    width: 100%;
    height: 100%;
    
}
/* 베개 */
.page2 > .pillow {
    width: 33%;
    height: 100%;
    position: relative;
}
.page2 > .pillow > .about {
    border-left: 1px solid black;
    width: 100px;
    height: 150px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    top:45%;
    right: 20%;
}
.page2 > .pillow > .me {
    border-right: 1px solid black;
    width: 100px;
    height: 150px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    top:55%;
    right: 0%;
}
.page2 > ul > li  {
    position: relative;
    width: 100%;
    height: 100%;
}

.page2 > ul > .about > a > img {
    position: absolute;
    top:50%;
    right: 0%;
    transform: translatey(-50%);
}
.page2 > ul > .me > a > img {
    position: absolute;
    top:50%;
    left: 0%;
    transform: translatey(-50%);
}
/* 침대 */
.bed {
    width: 100vw;
    height: 100%;
    background-color: red;
}
